
@use '_hero';

$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundaria: #f9f9f9;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $corDeFundo;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: $corTextoPrincipal;
}

@mixin title($fontSize: 28px) {
    @include text($fontSize);
    color: $corTextoSecundaria
}

.text--big {
    @include text(18px);
}

.text--small {
    @include text
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: $corTextoSecundaria;
    text-decoration: underline
}

.title--big {
    @include title(44px)
}

.title {
    @include title;
}

.title--small {
    @include title(28px)
}



